{
    "extends": [
        "loopback"
    ],
    "plugins": [
        "import",
        "node"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "env": {
        "es6": true,
        "jquery": true,
        "node": true
     },
    "rules": {
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "never"
        }],
        "camelcase": ["error", { "properties": "never" }],
        "max-len": ["error", 120],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-whitespace-before-property": "error",
        "space-before-function-paren": ["error", "always"]
    }
}
